

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;

}

button a{
    color:crimson;
}
a{
    text-decoration: none;
    color: aliceblue;
}

.workplace{
    width: 360px;
    height: 180px;
}

.intro{
    display: flex;
    flex-direction: column;
}

.this-web{

    border: 2px solid red;
    background-color: black;
    display: flex;
    padding: 50px 50px 100px 10px;
    justify-content: center;
}

.thiss{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}


.header{
    display: flex;
    color: aliceblue;
    gap: 15px;
    padding:10px;
    align-items: center;
    background-color: #1f2937;   
    height: 40px;
}


.logo{
    margin-left: 50px;
    margin-right: auto;
    width: 100px; /* Set the desired width */
    height: auto; /* Maintain the aspect ratio by setting height to auto */      
}

.this-web{
    flex: 1;
    display: flex;
    background-color: #1f2937;
}

.random{
    flex: 1;
    display: flex;
    background-color: sandybrown;
}

.quote{
    flex: 1;
    height: 500px;
    display: flex;
    background-color:thistle;
}

.call{
    flex: 1;
    display: flex;
    background-color: chocolate;
}

.footer{
    flex: 1;
    display: flex;
    background-color: aqua;
}